.container {
  width: 100vw;
  padding: 24px, 370px, 24px, 370px;
  color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin: 5px 5px 5px 5px;
  box-sizing: border-box;
  border-bottom: 1px dotted grey;
  background-color: #f6f5f4;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  z-index: 0;
}
.h1 {
  font-family: Dela Gothic One; /* Fontstyle for title*/
  font-size: 21px; /* Fontsize for title*/
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 10px;
}
.navbar {
  background-color: #f6f5f4; /* Navbar background color */
  color: black; /* Text color */
  padding: 0px 10px; /* Padding around the content */
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  width: 100vw;
  height: 98px;
  z-index: 1;
}

/* Style the navbar links */
.navbar a {
  color: black; /* Link text color */
  text-decoration: none; /* Remove underline from links */
  margin: 0 15px; /* Add space between links */
  font-size: 26px; /* Font size for links */
  font-family: Montserrat;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: left;
  padding: 20px;
  display: flex;
}

/* Styles for the dropdown menu */
.games {
  position: relative; /* Set the parent position to relative */
}

.dropdownmenu {
  width: 200px;
  position: absolute;
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: yellowgreen;
  z-index: 999;
  display: none; /* Initially hide the dropdown */
  top: 100%; /* Position the dropdown below the parent element */
  left: 0; /* Align the dropdown with the left edge of the parent element */
  opacity: 0; /* Initially set opacity to 0 */
  pointer-events: none; /* Disable pointer events to make links unclickable */
  transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
}

.games:hover .dropdownmenu {
  display: block; /* Show the dropdown menu when the parent is hovered */
  opacity: 2; /* Show the dropdown menu when the parent is hovered */
  pointer-events: auto; /* Enable pointer events for links when the menu is visible */
}

.dropdownmenu li {
  cursor: pointer;
  background-color: black;
  color: white;
  display: block;
  padding: 10px;
}

.dropdownmenu li:hover {
  background-color: #c3dce3;
  color: #212121;
}

.dropdownmenu li:focus {
  background-color: #212121;
  color: #4caf50;
}

.navbar.btn {
  margin: 0px 50px;
  margin-right: 30px;
  align-content: space-around;
  background-color: green;
  width: 90px;
}
.btn {
  display: flex;
  font-size: 26px; /* Font size for links */
  font-family: Montserrat;
  font-weight: 600;
  border-radius: 5.5px;
  text-align: right;
  letter-spacing: -0.04em;
  text-align: left;
  justify-content: space-evenly;
  margin-right: 10px;
  box-sizing: border-box;
  border-color: white;
  background-color: #2b788b;
}
.btn1 {
  display: flex;
  font-size: 26px; /* Font size for links */
  font-family: Montserrat;
  font-weight: 600;
  border-radius: 5.5px;
  text-align: right;
  align-content: right;
  justify-content: space-evenly;
  margin: 0px;
  box-sizing: border-box;
  border-color: white;
  background-color: #2b788b;
}
.navbar .btnicon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px; /* Font size for links */
  font-family: Montserrat;
  font-weight: 600;
  margin: 0px;
  width: 48px;
  height: 35px;
  padding: 0px;
  border-radius: 5.5px;
}
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.22);
}
.mobilenavbar {
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin: 30px;
  padding: 0px 20px;
  transition: 900ms ease-in-out;
  display: none;
}

.hamburger {
  background: none;
  border-radius: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: 900ms ease-in-out;
  cursor: pointer;
}
.hamburger:hover {
  color: black;
}
.sidebar {
  width: 300px;
  height: 100%;
  background-color: burlywood;
  color: black;
  text-decoration: none;
  position: absolute;
  right: -300px;
  top: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: right;
  padding: 50px;
  transition: 900ms ease-in-out;
}
.open {
  width: 250px;
  height: 100vh;
  right: -250px;
  top: -10px;
  position: relative;
  background-color: #2b788b;
  color: #fff;
  overflow-x: hidden;
  text-decoration: none;
  transition: 900ms ease-in-out;
  margin-bottom: 50px;
  background-position-x: right;
  justify-content: right;
}
.open ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-decoration: none;
  font-style: none;
}
.open li {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: larger;
}
.open li:hover {
  background-color: #555;
  transition: 900ms;
  color: white;
  font-weight: bold;
  text-decoration-line: none;
}
/* Animation styles */
.hamburger:hover .open {
  width: 60px;
}

.open .closebtn {
  position: absolute;
  top: 0;
  font-size: 16px;
  margin-right: 49%;
  background-color: white;
  color: black;
}
.container.open {
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .mobilenavbar {
    display: flex;
  }
  .grid-container {
    grid-template-columns: auto;
  }
  .navbar {
    display: none;
  }
}
